@import "tailwindcss";

:root {
  --color-primary: #6900bf;
  --color-secondary: #ffe492;
  --color-tertiary: #bf2f5f;
  --color-quaternary: #c5b2de;
  --color-figma_blue: #0d99ff;
  --color-figma_red: #ff3737;
  --color-figma_purple: #874fff;
  --color-figma_orange: #ff7237;
  --color-figma_green: #24cb71;
  --color-figma_pink: #ffc9c1;
  --color-figma_purple_light: #cb9fd2;
}

@theme inline {
  --color-primary: #6900bf;
  --color-secondary: #ffe492;
  --color-tertiary: #bf2f5f;
  --color-quaternary: #c5b2de;
  --color-figma_blue: #0d99ff;
  --color-figma_red: #ff3737;
  --color-figma_purple: #874fff;
  --color-figma_orange: #ff7237;
  --color-figma_green: #24cb71;
  --color-figma_pink: #ffc9c1;
  --color-figma_purple_light: #cb9fd2;

  --container-7xl: 1440px;

  --text-leadin-lg-mob: 1.5rem;
  --text-leadin-lg-mob--line-height: 1.1em;
  --text-leadin-lg: 2.5rem;
  --text-leadin-lg--line-height: 1.1em;

  --text-leadin-mob: 1.5rem;
  --text-leadin-mob--line-height: 1.5em;
  --text-leadin: 2.5rem;
  --text-leadin--line-height: 1.1em;

  --text-leadin-sm-mob: 1rem;
  --text-leadin-sm-mob--line-height: 1.1em;
  --text-leadin-sm: 1.35rem;
  --text-leadin-sm--line-height: 1.1em;

  --text-title-lg-mob: 2.85rem;
  --text-title-lg-mob--line-height: 1.15em;
  --text-title-lg: 4rem;
  --text-title-lg--line-height: 1.35em;

  --text-title-mob: 2.25rem;
  --text-title-mob--line-height: 1.2em;
  --text-title: 3.25rem;
  --text-title--line-height: 1.35em;

  --text-title-sm-mob: 1.85rem;
  --text-title-sm-mob--line-height: 1.5em;
  --text-title-sm: 2.5rem;
  --text-title-sm--line-height: 1.25em;

  --text-body-lg-mob: 1rem;
  --text-body-lg: 1.5rem;

  --text-body-mob: 1rem;
  --text-body: 1.5rem;

  --text-body-sm-mob: 0.9rem;
  --text-body-sm: 1rem;

  --text-link-lg-mob: 1rem;
  --text-link-lg: 1.5rem;

  --text-link-mob: 1rem;
  --text-link: 1.5rem;

  --text-link-sm-mob: 1rem;
  --text-link-sm: 1.25rem;

  --font-leadin: var(--font-source_serif_4);
  --font-title: var(--font-brunson);
  --font-body: var(--font-dm_sans);
  --font-nav: var(--font-dm_mono);

  --border-1: 1px;
}

[class*="onview:"] {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p,
span,
div {
  font-weight: 300;
} */
