@import "tailwindcss";

:root {
  --color-primary: #6900bf;
  --color-secondary: #ffe492;
  --color-tertiary: #bf2f5f;
  --color-quaternary: #c5b2de;
}

@theme {
  --color-primary: #6900bf;
  --color-secondary: #ffe492;
  --color-tertiary: #bf2f5f;
  --color-quaternary: #c5b2de;

  --font-leadin: var(--font-source_serif_4);
  --font-title: var(--font-brunson);
  --font-body: var(--font-dm_sans);
  --font-nav: var(--font-dm_mono);

  --container-7xl: 1440px;

  --text-leadin: 2em;
  --text-title: 3em;
  --text-body: 1.5em;
  --text-link: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
